/* .player .player-progress {
    margin-top: 20px;
} */

.player .player-progress .progress-values {
    display: flex;
    justify-content: space-between;
    color:#eee;
    font-size: 14px;
}

.player .player-progress progress {
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
}

.player .player-progress progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
}

.player .player-progress progress::-webkit-progress-value {
    background: linear-gradient(to right, #5232c1, #12ccd0);
    border-radius: 3px;
}